[submodule "tree-sitter-greycat"]
	path = tree-sitter-greycat
	url = git@hub.datathings.com:greycat-oss/tree-sitter-greycat.git
[submodule "editors/zed"]
	path = editors/zed
	url = git@hub.datathings.com:greycat-oss/zed-greycat-extension.git
