/* Reset and fill window */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Layout: horizontal split */
body {
  display: flex;
  flex-direction: row;
  color: #e0e0e0;
  font-family: sans-serif;
}

/* Left side: editor */
.editor {
  flex: 1; /* Take remaining space */
  height: 100%;
}

/* Right side: tree */
.tree {
  width: 500px; /* Adjust as needed */
  height: 100%;
  background: #0c0c0c;
  padding: 0 1em;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 13px;
  font-family: Monaco, monospace;
}

.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tree li > ul {
  list-style: none;
  padding-left: 1em;
  border-left: 1px solid #444;
  margin: 0;
}

.tree li {
  margin: 0.2em 0;
  position: relative;
}

.tree li:hover {
  cursor: pointer;
}

.tree li.selected {
  background-color: #262626;
}

.toggle {
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  color: #9cdcfe;
}

.collapsed > ul {
  display: none;
}

.token {
  color: #ce9178;
}

.error {
  color: #d63333;
}

.error-kind {
  padding-left: 0.4em;
  color: #ffcf31;
}

.span {
  color: #888;
  font-size: 0.9em;
  margin-left: 0.4em;
}
